body {
  font-family: verdana;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  background-color:indigo;
  padding: 10px
  

}

.navBar {
  color: white;
  display: flex;
  background-color:indigo;
  justify-content: space-between;
  padding: 10px
  
}

button{
  padding: 5px;
  border: none;
  background-color: indigo;
  color: azure;
}

.search {
  width: 75%;
  margin: 1rem;
  padding: 5px;
  border: none;
  border-bottom: 3px solid indigo;
  flex-grow:1;
}
.all-products-container {
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.single-product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-name {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 16px;
  margin-bottom: 10px;
  color: #777;
}

.view-details-button {
  background-color: indigo;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.view-details-button:hover {
  background-color: rgb(160, 113, 193);
}
.continue-shopping-button {
  background-color: rgb(160, 113, 193);
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
}

.register-section  {
  width: 213px;
  height: 36px;
  background: url('http://i.imgur.com/fd8Lcso.png') no-repeat;
  margin: 30px auto;
  padding: 5px

}

.register {
  padding: 3px
}

.login-section{
  width: 213px;
  height: 36px;
  background: url('http://i.imgur.com/fd8Lcso.png') no-repeat;
  margin: 30px auto;
  padding: 5px
}
@media (max-width: 768px) {
  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .single-product {
    width: 100%;
    margin-bottom: 20px;
  }
}
